<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 50% }
      body { width: 95%;  height: 100%; padding: 40px;}
    </style>

    {% load staticfiles %}
    <!-- Here you can define the scripts and other static files you wish to deploy from /vuokra_tiedot/static/vuokra_tiedot/ --> 
    <script type="text/javascript" src="{% static 'vuokra_tiedot/jquery-1.9.1.min.js' %}" alt="javascript"></script>
    <script type="text/javascript" src="{% static 'vuokra_tiedot/js/bootstrap.js' %}">
    </script>  

    <link href="{% static 'vuokra_tiedot/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'vuokra_tiedot/css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'vuokra_tiedot/css/bootstrap-responsive.min.css' %}" rel="stylesheet">  
    <link href="{% static 'vuokra_tiedot/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://127.0.0.1:8000/vuokra_tiedot/">Loukku</a>
          <div class="nav-collapse navbar-responsive-collapse" style="height: 0px; ">
            <ul class="nav">
              <li class="dropdown">
                <a href="http://127.0.0.1:8000/vuokra_tiedot/" class="drowdown-toggle" data-toggle="dropdown">Home</a></li>
              <li class="dropdown">
                <a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>   
    </div><!--navbar -->  
    <div class="container">
      <h1>About</h1>
      <p>Authors: Samuel Uusi-Mäkelä, Anton Laurila, Jari-Matti Kankaanpää ja Kristiina Manninen</p>

      <p>Loukku is an application to help visualize the locations of rental apartments in Jyväskylä region. The application should present a Google maps map, with different search-matching apartments marked. Clicking a marker will open a small infowindow for that apartment, which contains basic information about the apartment and a link to the original housing agency that owns the apartment.</p>
    </div> <!-- /container -->
  </body>
</html>
