<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 50% }
      body { width: 75%;  height: 100%; margin: ; padding: 60px;}
      #map-canvas { height: 100% }
    </style>
    <!--add your own google maps api key here. Example:"https://maps.googleapis.com/maps/api/js?YOURKEYHERE&sensor=false"-->
      
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&sensor=false">

    </script>
    {% load staticfiles %}
    <!-- Here you can define the scripts and other static files you wish to deploy from /vuokra_tiedot/static/vuokra_tiedot/ --> 
    <script type="text/javascript" src="{% static 'vuokra_tiedot/jquery-1.9.1.min.js' %}" alt="javascript"></script>  
    <script type="text/javascript" src="{% static 'vuokra_tiedot/js/map_drawer.js' %}">
    </script>
	<script type="text/javascript" src="{% static 'vuokra_tiedot/js/form_handler.js' %}">
    </script>
   <!-- <script type="text/javascript" src="{% static 'vuokra_tiedot/js/bootstrap-slider.js' %}">
    </script>-->

    <link href="{% static 'vuokra_tiedot/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'vuokra_tiedot/css/bootstrap-responsive.css' %}" rel="stylesheet"> 
    <link href="{% static 'vuokra_tiedot/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- TODO -->
          <a class="brand" href="#">Keksi projektille kiva nimi</a>
          <div class="nav-collapse collapse">

            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>

              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>

      </div>   
    </div><!--navbar -->  
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Hakuehdot</li>
                        <form name="search_form">
                              Minimi vuokra: <input type="text" class="span12" id="vuokra_min" name="vuokra_min" data-slider-min="10" data-slider-max="1000" data-slider-step="1" data-slider-value="[250-450]"><br>
                              Maksimi vuokra: <input type="text" class="span12" id="vuokra_max" name="vuokra_max"><br>
                              Minimi neliöt: <input type="text" class="span12" id="neliot_min" name="neliot_min"><br>
                              Maksimi neliöt: <input type="text" class="span12" id="neliot_max" name="neliot_max"><br>

                              <input type="checkbox" name="tyyppi" id="tyyppi1h" value="1h+k">1h+k<br>
                              <input type="checkbox" name="tyyppi" id="tyyppi2h" value="2h+k">2h+k<br>
                              <input type="checkbox" name="tyyppi" id="tyyppi3h" value="3h+k">3h+k<br>
                              <input type="checkbox" name="tyyppi" id="tyyppi4h" value="4h+k">4h+k<br> 
                              <input type="submit" onclick="sendSearchData()" id="submitButton" value="Submit">
                              </form>

                        <li class="nav-header">Sidebar</li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>

                        <li><a href="#">Link</a></li>
                        <li class="nav-header">Sidebar</li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div>
            </div>
            <div class="span8">
                <div>
                    <h1>Sovellus</h1>
                    <p>Täältä löytyy ehkä joskus kivoja asuntoja.</p>
                </div>                              
                <div id="map-canvas" style="height: 400px" class="span12"></div/>            
            </div>
        </div>       
    </div>
  </body>
</html>
