<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 50% }
      body { width: 95%;  height: 100%; padding: 40px}
      #map-canvas { height: 100%; width: 85%}
    </style>
    <!--add your own google maps api key here. Example:"https://maps.googleapis.com/maps/api/js?YOURKEYHERE&sensor=false"-->
      
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?&sensor=false">

    </script>
    {% load staticfiles %}
    <!-- Here you can define the scripts and other static files you wish to deploy from /vuokra_tiedot/static/vuokra_tiedot/ --> 
    <script type="text/javascript" src="{% static 'vuokra_tiedot/jquery-1.9.1.min.js' %}" alt="javascript"></script>
    <script type="text/javascript" src="{% static 'vuokra_tiedot/js/map_drawer.js' %}">
    </script>
	<script type="text/javascript" src="{% static 'vuokra_tiedot/js/form_handler.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'vuokra_tiedot/js/bootstrap.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'vuokra_tiedot/js/jquery-sliders.js' %}">
    </script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <link href="{% static 'vuokra_tiedot/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'vuokra_tiedot/css/bootstrap-responsive.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'vuokra_tiedot/css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'vuokra_tiedot/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="http://127.0.0.1:8000/vuokra_tiedot/">Loukku</a>
          <div class="nav-collapse navbar-collapse" style="height: 0px; ">
            <ul class="nav">
              <li class="dropdown">
                <a href="http://127.0.0.1:8000/vuokra_tiedot/about" class="dropdown-toggle">About</a></li>
              <li class="dropdown">
                <a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>   
    </div><!--navbar -->  
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li class="nav-header">Hae asuntoja</li>
                        <form name="search_form">
                            
                            <p>
                              <label for="amount">Vuokra:</label>
                              <input type="text" class="span12" id="vuokra" style="border: 0; color: #000000; font-weight: bold;" />
                            </p>
                             
                            <div id="slider-range-vuokra"></div>

                            <p>
                              <label for="amount">Neliöt:</label>
                              <input type="text" class="span12" id="neliot" style="border: 0; color: #000000; font-weight: bold;" />
                            </p>
                             
                            <div id="slider-range-neliot"></div>                            
                            
                            <input type="button" class="span12" onclick="sendSearchData()" id="submitButton" value="Hae">
                            <input type="button" class="span12" onclick="initialize()" id="submitButton" value="Tyhjennä hakuehdot">                                                
                          </form>                        
                    </ul>
                </div>
            </div>
            <div class="span9">
                <div>
                    <h1>Jyväskylän vapaat vuokra-asunnot kartalla</h1>
                    <p>Kartalla näet hakuehtojasi vastaavien vuokra-asuntojen sijainnin. Tyhjennä hakutiedot-painike tyhjentää kaikki hakutiedot ja näyttää kaikkien kohteiden sijainnin kartalla.</p>
                </div>                              
                <div id="#map_canvas" style="height: 400px" class="span12"></div/>          
            </div>
        </div>       
    </div>
  </body>
</html>
